$blue: #70bfff;
$blue-2: #5585a2; //btn-2 
$blue-3: #355b82;
$footer-text: #b9b9b9;
$gray: #9d9d9d; //border-left .services
$gallery: #ffe92f; 
$green: #96b92c; //btn-3
$lightseagreen: #00c4c4; //bg .about-us
$love: #ff2b58;
$dark-text: #262626;
$orange: #ff6033;  //border, btn-1, .header
$purple: #b07cf7; //blog
$red:  #f72b3b; // btn-4
$white: #ffffff;
$white-2: #fbfbf7;



