.services { 
	padding-top: rem(100);
	padding-bottom: rem(151);  
	background-color: $blue;
	&__flex-row {
		@include justify-content(space-around); 
    	@include align-items(flex-end);
	}
	&__image-box {
		width: calc(50% - 15px); 
		padding: rem(220) 0;
		@include bg('../img/tomato.png');
		background-size: contain;
   		background-position: right;
   		display: flex;
   		@include flex-cont(row);
   	    @include align-items(center);
        @include justify-content (flex-end);
	}
		&__title {
		@include main-title($white);
	}
}

.services-list {
	&__item {
		@extend .flex-row;
		padding: 0;
		width: rem(400);
    	height: rem(100);
    	margin-bottom: rem(20);
    	background-color: $white; 
    	@include box-shadow (0 4px 10px rgba(0, 0, 0, 0.5));
    	&:last-child {
    		margin-bottom: 0;
    	}
	}
	&__title {
		width: 75%;
		@include medium-text($dark-text);
		@include align-self(center);
    	text-align: center;
	}
	&__link	{
		display: block;
		position: relative;
		width: 25%; 
		border-left: 1px solid $gray;
		&:hover {
			@include box-shadow (0 4px 10px rgba(0, 0, 0, 0.5));
			@include transition(all .3s ease-in-out);
		}
	}
	&__icon {
		position: absolute;
		max-width: rem(54);
		max-height: rem(54); 
		top: 0;
    	right: 0;
    	left: 0;
    	bottom: 0;
    	margin: auto; 
    	}
}


