.subscribe {
	padding: rem(145) 0; 
	@include bg('../img/subscribe.png');
	&__info-wrap {
		width: 50%; 
	}
	&__title {
		padding-bottom: rem(30);
		color: $dark-text; 
		font-size: rem(40);
		font-weight: 700;
		line-height: rem(44);
	}
	&__text {
		padding-bottom: rem(30);
		@include text($dark-text); 
	}
	&__btn {
		@include btn($green);
		min-width: rem(170);
		border: none; 
	}
	&__form {
		@include justify-content(flex-start);
	}
	&__input {
	 	width: 48.7%;
		height: 55px;
		margin-right: rem(30); 
		padding-left: rem(15); 
		border: 1px solid $dark-text;
		outline: none; 
		background-color: rgba(38, 38, 38, 0);
		&::-webkit-input-placeholder {
			color: $dark-text;
			opacity: 0.5;
			font-size: rem(15);
			font-weight: 300;
			line-height: rem(55);
		}
		&:hover {
			color: lighten($dark-text, 40%); 
			font-size: rem(15);
			cursor: pointer;
			border-color: lighten($dark-text, 60%);
			@include box-shadow (2px 4px 10px rgba(0, 0, 0, 0.5));
			@include transition(all .3s ease-in-out);
		}
		&:active, &:focus {
			color: lighten($dark-text, 30%); 
			font-size: rem(15);
		} 
	}
}
